.container {
    text-align: center;
    background-color: rgb(177, 177, 211);
    width: auto;
    padding: 40px;
    font-family: sans-serif;

}
.card1{
    display: inline-block   ;
    margin-left: 20px;
}
.Imagem1 {
    border-radius: 20px;  
    margin: 0px;
    width: 350px;
    z-index: -100;
} 
.Botao1 {
    border-radius: 20px;
    width: 80%;
    height: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(184, 139, 255);
    font-size: 20px;
}
.name{
    margin-top:-200px;
    margin-bottom: 60px;
}